*~
tests/test-*
tests/out
tests/out2
tests/TEST.RSC
tests/devpac/*.PRG
tests/devpac/out
tests/devpac/out2
tests/lattice/*.PRG
tests/lattice/*.ttp
tests/lattice/*.lnk
tests/lattice/*.q
tests/lattice/out
tests/lattice/out2
*.o
bin/
gen/
emuvdi/obj/
emuvdi/*.d
demos/dialog
demos/window
demos/menu
demos/fsel
